streamlit
pandas
numpy
scikit-learn
umap-learn
matplotlib
seaborn
altair
folium
streamlit-folium
pydeck
joblib
mlflow==2.12.2
protobuf==4.25.3
requests
python-dateutil
scipy
shapely>=2.0.2
